<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Admin Page</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style type="text/css">
body{	
	background-image:url("/images/backg.jpg");
	background-size: 100%;
}
.admin-message-text {
	font-style: normal;
	font-size: 22px;
	color: #004080;
}

.tableClass{
	background-image: url("images/back.jpg");
	}
.btn-primary{
	background-color: #003d66 !important;
}
</style>

</head>

<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" th:href="@{/home.html}">Portal</a>
    </div>
    <ul class="nav navbar-nav">
    
      <!-- <li class="active"><a th:href="@{/home.html}">Home</a></li> -->
      <!-- li><a th:href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li> -->
      
    </ul>
    <ul class="nav navbar-nav navbar-right">
   <!--  <li><a th:href="#"><span class="glyphicon glyphicon-user"></span> Welcome th:text="${session.name}</a></li> -->
<!-- 	 <li><div th:text= Welcome! "${session.name}"> </div></li> -->
      <li><a th:href="@{/logout}"><span class="glyphicon glyphicon-user"></span> Logout</a></li>
    
    </ul>
  </div>
</nav>

<p class="field" align="right"><b>Welcome!&nbsp</b><b th:text="${session.name}"></b></p>
	<div class="container">
	
		<!-- <form th:action="@{/logout}" method="get">
			
			<button class="btn btn-md btn-primary btn-block" name="registration"
				type="Submit">Logout</button>
			<p align="right"><b>Welcome!</b></p><div align="right"  th:text="${session.name}"> </div>
		</form>     -->
		
		<div class="panel-group" style="margin-top:20px">
							
		<form th:action="@{/addNewIdea}">
		<button class="btn btn-lg btn-primary btn-block" name="addNewIdea" type="submit">Add new Idea</button>
		<!-- <button class="btn btn-md btn-danger btn-block" name=""
				type="Submit">Add new Problem</button> -->
		</form>
		</div>
<div th:if="${ideaList.isEmpty()}">
		<div>No List Found</div>
</div>
<div th:if="${!ideaList.isEmpty()}">
 
		<div th:each="idea : ${ideaList}">

			<table class="tableClass" frame="border">
				<tr >
					<td class="field">IdeaId:</td>
					<td class="field" th:text="${idea.iId}"></td>
				</tr>

				<tr>
					<td class="field">Description:</td>
					<td class="field" th:text="${idea.iDescription}"></td>
				</tr>

				<tr>
					<td class="field">Start Date:</td>
					<td class="field" th:text="${idea.iStartDate}"></td>
				</tr>

				<tr>
					<td class="field">End Date:</td>
					<td class="field" th:text="${idea.iEndDate}"></td>
				</tr>

				<tr>
					<td><a class="minibutton" type="submit" th:href="@{/leaderBoard}">LeaderBoard</a></td>

					<td><a class="minibutton" th:href="@{'/viewProblem?iId='+${idea.iId}}">View Idea</a></td>
				</tr>
				<tr>
					<td colspan="2" align="center"><a class="minibutton"
						th:href="@{'/suggestions?iId='+${idea.iId}}">View All Suggestions</a></td>
			</tr>
			
			</table>
		</div>
		</div>
		</div>
</body>
</html>