<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Admin Page</title>

<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style type="text/css">
body {
	background-image: url("images/backg.jpg");
	background-size: 100%;
}

.table {
	background-image: url("images/back.jpg");
}
</style>
</head>

<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" th:href="@{/home.html}">Portal</a>
			</div>
			<ul class="nav navbar-nav">
				<!-- <li class="active"><a th:href="@{/home.html}">Home</a></li> -->
				<!-- li><a th:href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li> -->

			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a th:href="@{/logout}"><span
						class="glyphicon glyphicon-user"></span> Logout</a></li>

			</ul>
		</div>
	</nav>

	<p class="field" align="right">
		<b>Welcome!&nbsp</b><b th:text="${session.name}"></b>
	</p>
	<div class="container">

		<!-- <form th:action="@{/logout}" method="get">
		
			<button class="btn btn-md btn-primary btn-block" name="registration"
				type="Submit">Logout</button>
		</form>   -->


		<form th:action="@{/addSol}" method="post" th:object="${solution}">
			<!-- modelAttribute="solution" -->

			<h1 class="title" align="center">Upload Solutions</h1>
			<table class="table" border="5">
				<tr>
					<td class="field">Problem ID <br> <br></td>
					<!-- <td class="field" th:text="${pId}"><div><textarea name="hide" style="display:none;" class="textbox" th:field="${solution.pId}" th:text="${pId}" readonly="readonly"></textarea></div></td> -->
					<td><textarea class="textbox" th:field="${solution.pId}"
							th:text="${pId}" readonly="readonly"></textarea></td>
				</tr>
				<tr>
					<td class="field">Employee ID <br> <br></td>
					<td><textarea class="textbox" th:field="${solution.empId}"
							th:text="${empId}" readonly="readonly"></textarea></td>
					<!-- <td class="field" th:text="${id}"><div></div></td> -->
					<!-- <td><input type="text" name="id" th:value="${id}" /></td> -->
				</tr>
				<tr>
					<td class="field">Solution Statement:<font color="red">*</font><br></td>
					<td><textarea class="textbox"
							th:field="${solution.sDescription}" required="required"></textarea>
						<br> <br></td>
				</tr>
				<tr>
					<td class="field">Solution Content:<font color="red">*</font><br></td>
					<td><textarea class="textbox" th:field="${solution.sContent}"
							required="required"></textarea> <br> <br></td>
				</tr>
				<tr>
					<td class="field">Link:</td>
					<td><input class="textbox" th:field="${solution.sLink}" /></td>
				</tr>
				<tr>
					<td colspan="2" align="center"><button class="button" name=""
							type="Submit">Upload</button></td>
				</tr>

			</table>
			<p align="center">
				<font color="red"><b>All (*) are mandatory</b></font>
			</p>
		</form>
		<div align="center">
			<div th:if="${message ne null}">
				<h1 class="error" th:text="${message}"></h1>
				<h1 class="error" th:text="${sId}"></h1>
			</div>
			<a class="button" th:href="@{/home}">Home</a> <a class="button"
				th:href="@{'/viewSolution?sId='+${solution.sId}}">View</a>
		</div>
	</div>
</body>

</html>