<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>ViewProblem Page</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style type="text/css">
body{
	background-image: url("images/backg.jpg");
	background-size: 100%;
}
.table{
	background-image: url("/images/back.jpg");
}
</style>
</head>

<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" th:href="@{/home.html}">Portal</a>
    </div>
    <ul class="nav navbar-nav">
      <!-- <li class="active"><a th:href="@{/admin/home.html}">Home</a></li> -->
      <!-- li><a th:href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li> -->
      
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a th:href="@{/logout}"><span class="glyphicon glyphicon-user"></span> Logout</a></li>
    
    </ul>
  </div>
</nav>
<p class="field" align="right"><b>Welcome!&nbsp</b><b th:text="${session.name}"></b></p>

	<div class="container">
	<div align="left">
			<a class="button" th:href="@{/home}">Back
			</a>
		</div>
		<!-- <form th:action="@{/logout}" method="get">
		<h1> Welcome ${email} !</h1>
			<button class="btn btn-md btn-primary btn-block" name="registration"
				type="Submit">Logout</button>
		</form> -->   
	<h1 class="title" align="center">View Problem</h1>
	<div align="right" ><a class="button" th:href="leaderBoard.html">LeaderBoard </a></div>
	<br><br>
	<form th:action="@{/addSolution}" method="post">
		<table class="table" border="5" align="center">

			<tr>
				<td class="field">EmployeeID </td>
 				<td class="field" th:text="${problem.empId}"></td>
			</tr>
			<tr>
				<td class="field">ProblemID </td>
 				<td class="field" th:text="${problem.pId}"></td>
			</tr>
			<tr>
				<td class="field">ProblemDescription:<br></td>
				<td class="field" th:text="${problem.pDescription}"><br>
				</td>
			</tr>
			<tr>
				<td class="field">ProblemContent:<br></td>
				<td class="field" th:text="${problem.pContent}"><br>
				</td>
			</tr>
			<tr>
				<td class="field">Start Date:</td>
				<td class="field" th:text="${problem.sDate}"></td>
			</tr>

			<tr>
				<td class="field">End Date:</td>
				<td class="field" th:text="${problem.eDate}"></td>
			</tr>
			
			<tr>
				<td class="field">Problem Type:</td>
				<td class="field" th:text="${problem.pType}"></td>
			</tr>
			
			<tr>
				<td class="field">No. of Solutions :<br></td>
				<td class="field">solution count</td>
			</tr>
			<tr>
				<td colspan="2" align="center">
				<!-- <input class="textbox"  type="hidden" name="pId" value="${problem.pId}"/>
				<input class="textbox"  type="hidden" name="empId" value="${problem.empId}"/> -->
				<!-- <button class="button" type="submit">AddSolution</button> -->
				<a class="button" th:href="@{'addSolution?pId='+${problem.pId}}">AddSolution</a>
				<a class="button" th:href="@{'modifyProblem?pId='+${problem.pId}}">ModifyProblem</a>
				</td>	
			</tr>
			
		</table>
	</form>
	</div>
</body>

</html>